.coming-soon {
  width: 100%;
  text-align: center;
  margin: 0 3em 5em;
}
.coming-soon p {
  margin-top: 20px;
  font-size: 72px;
  font-weight: 400;
}
.coming-soon img {
  width: 50%;
}
/* responsive */
@media screen and (max-width: 1200px) {
  .wrap {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .coming-soon img {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  .coming-soon img {
    width: 100%;
  }
}
