@import "rwd";
@import "button";

/* header */
.banner-thumbnail-wrapper {
  padding: 3em 0;
}
/* main */
.about {
  margin: 0 15em 2em;
  @include breakpoint(pc) {
    margin: 0 10em 2em;
  }
  @include breakpoint(pad) {
    margin: 0 5em 2em;
  }
  @include breakpoint(mobile) {
    margin: 0 3em 2em;
  }
  > img {
    width: 100%;
    margin-bottom: 30px;
  }
}
