@import "rwd";
@import "button";

/* header */
.banner-thumbnail-wrapper {
  padding: 3em 0;
}
/* main */
input,
label {
  cursor: pointer;
}
div {
  box-sizing: border-box;
}
.wrap {
  display: block;
}
.control {
  display: none;
  text-align: center;
  margin: 50px;
  > h2 {
    font-size: 36px;
  }
  > button {
    margin: 0 50px;
  }
}
.control.show {
  display: block;
}
.quiz {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  @include breakpoint(pad) {
    margin: 0 15%;
  }
  @include breakpoint(mobile) {
    margin: 0 10%;
  }
}
.test {
  width: 50%;
  margin: 20px 0;
  img {
    max-width: 300px;
  }
  @include breakpoint(pad) {
    width: 100%;
  }
  > h2 {
    margin: 0 20px;
  }
  > .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > .question {
      width: 50%;
      padding: 20px;
      @include breakpoint(pad) {
        width: 100%;
      }
      > img {
        width: 100%;
      }
    }
    > .answer {
      width: 50%;
      padding: 20px;
      @include breakpoint(pad) {
        width: 100%;
      }
      > .options {
        margin: 10px;
      }
      > p {
        display: none;
        margin: 40px 20px 20px;
      }
      > p.show {
        display: block;
        > .solution.wrong {
          color: #ea0000;
        }
      }
    }
  }
}
.test.picture {
  width: 100%;
  > p {
    font-size: 20px;
    margin: 0 20px;
  }
  > .answer.pictures {
    display: flex;
    flex-wrap: wrap;
    .options {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      img {
        width: 200px;
      }
    }
    .solution {
      margin: 10px;
    }
    .solution.wrong {
      color: #ea0000;
    }
    > input {
      text-align: center;
    }
  }
}
